ProjectHelper/frontend/.gitignore
ProjectHelper/frontend/.DS_Store
ProjectHelper/frontend/node_modules/
ProjectHelper/frontend/dist/
ProjectHelper/frontend/npm-debug.log*
ProjectHelper/frontend/yarn-debug.log*
ProjectHelper/frontend/yarn-error.log*

# Editor directories and files
ProjectHelper/frontend/.idea
ProjectHelper/frontend/.vscode
ProjectHelper/frontend/*.suo
ProjectHelper/frontend/*.ntvs*
ProjectHelper/frontend/*.njsproj
ProjectHelper/frontend/*.sln
ProjectHelper/.DS_Store
*.pyc
ProjectHelper/DjangoUeditor/.DS_Store
.DS_Store
ProjectHelper/items/.DS_Store
ProjectHelper/ProjectHelper/.DS_Store
ProjectHelper/xadmin/.DS_Store
ProjectHelper/.idea/misc.xml
ProjectHelper/.idea/ProjectHelper.iml
ProjectHelper/frontend/.idea/workspace.xml
ProjectHelper/.idea/dataSources/753baa43-bbe9-47ce-a7eb-51b2d244318c.xml
ProjectHelper/.idea/dataSources/753baa43-bbe9-47ce-a7eb-51b2d244318c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
ProjectHelper/ProjectHelper/settings.py
ProjectHelper/ProjectHelper/settings.py
