ProjectHelper/frontend/.gitignore
ProjectHelper/frontend/.DS_Store
ProjectHelper/frontend/node_modules/
ProjectHelper/frontend/dist/
ProjectHelper/frontend/npm-debug.log*
ProjectHelper/frontend/yarn-debug.log*
ProjectHelper/frontend/yarn-error.log*
ProjectHelper/.idea

# Editor directories and files
ProjectHelper/frontend/.idea
ProjectHelper/frontend/.vscode
ProjectHelper/frontend/*.suo
ProjectHelper/frontend/*.ntvs*
ProjectHelper/frontend/*.njsproj
ProjectHelper/frontend/*.sln
ProjectHelper/.DS_Store
*.pyc
ProjectHelper/DjangoUeditor/.DS_Store
.DS_Store
ProjectHelper/items/.DS_Store
ProjectHelper/ProjectHelper/.DS_Store
ProjectHelper/xadmin/.DS_Store

ProjectHelper/frontend/.idea/workspace.xml
ProjectHelper/venv
ProjectHelper/.idea/dataSources.xml
ProjectHelper/.idea/ProjectHelper.iml
ProjectHelper/items/users/migrations/0003_auto_20201121_0008.py
ProjectHelper/ProjectHelper/settings.py
ProjectHelper/xadmin/filters.py
ProjectHelper/.idea/dataSources/753baa43-bbe9-47ce-a7eb-51b2d244318c.xml
ProjectHelper/.idea/dataSources/753baa43-bbe9-47ce-a7eb-51b2d244318c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
ProjectHelper/ProjectHelper/settings.py
ProjectHelper/venv
ProjectHelper/.idea/dataSources.xml
ProjectHelper/.idea/dataSources/4ff1e97b-960d-4b74-b63e-c41b4cefa582.xml
ProjectHelper/.idea/dataSources/4ff1e97b-960d-4b74-b63e-c41b4cefa582/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
ProjectHelper/.idea/dataSources/c458b0db-9bfe-443d-9eda-33115116a0c3.xml
ProjectHelper/.idea/misc.xml
ProjectHelper/.idea/ProjectHelper.iml
ProjectHelper/.idea/vcs.xml
ProjectHelper/items/users/migrations/0003_auto_20201121_1744.py
ProjectHelper/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
ProjectHelper/items/users/migrations/0003_auto_20201121_1744.py
ProjectHelper/.idea/vcs.xml
ProjectHelper/xadmin/filters.py
ProjectHelper/ProjectHelper/settings.py
